* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fcfcfc;
}

.ant-layout {
  height: 100vh;

  &-header {
    background-color: #fff;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        justify-self: flex-end;
        font-size: 12px;
      }
    }
  }

  &-content {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;

    @media (max-width: 576px) {
      .page-content {
        width: 80% !important;
      }
    }

    .page-content {
      width: 70%;
      display: flex;

      button.btn-login {
        height: 40px;
        margin-top: 15px;
        font-size: 13px;
      }

      .home-wrapper {
        width: 100%;

        .user-info {
          text-align: center;
        }

        form {
          margin-top: 30px;
          width: 100%;

          input {
            width: 100% !important;
            font-size: 13px;
          }

          .actions-container {
            display: flex;
            justify-content: center;

            button {
              margin-top: 10px;
              height: 35px;
              font-size: 13px;
            }
          }
        }
      }

      .weather-report-wrapper {
        width: 100%;

        .forecast-report-container {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 25px;

          table {
            width: 100%;
            border: solid 1px #ccc;
            border-radius: 8px;

            tr th {
              background-color: #eee;
            }

            tr th,
            tr td {
              height: 50px;
              font-weight: 400;
              text-align: left;
              padding: 0 15px;
              border: solid 1px #ccc;
            }
          }

          @media (max-width: 576px) {
            .hidden-in-mobile {
              display: none !important;
            }
          }

          .actions-container {
            display: flex;
            justify-content: flex-end;

            button {
              height: 45px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
